
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class ="about content">
        <h2>About us</h2>
        <p>I am a Next.js developer, and I have been working in this field for several years. I am passionate about building fast and efficient web applications that offer an exceptional user experience. As a Next.js developer, I possess a deep understanding of the Next.js framework and its key features, including server-side rendering, automatic code splitting, and hot module replacement. I am also proficient in using React and Node.js to create complex web applications and APIs. I take pride in my ability to write clean, maintainable, and scalable code and am always eager to learn new technologies and frameworks to enhance my skills and stay up-to-date with the latest trends in web development.</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>